.home__panel {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    min-width: 320px;
    max-width: 100%;
    padding: 10px;
}

.home__panel .gll-locations {
    display: block;
    margin-top: 20px;
    max-height: 260px;
    overflow: auto;
}