input {
    display: block;

    width: 100%;
    padding-bottom: 1px;

    border: solid #2196f3;
    border-width: 0 0 1px 0;
}

input:focus {
    padding-bottom: 0;

    /*border-color: #2196f3;*/
    border-bottom-width: 2px;
    outline: 0;
}