

nav
{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    min-width: 320px;
    max-width: 100%;
    padding: 10px;
}

input
{
    display: block;

    width: 100%;
    padding-bottom: 1px;

    border-width: 0 0 1px 0;
}
input:focus
{
    padding-bottom: 0;

    border-color: #2196f3;
    border-bottom-width: 2px;
    outline: 0;
}

gll-card
{
    display: block;

    padding: 10px;

    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

ko-gmap
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.ko-gmap__map
{
    width: 100%;
    height: 100%;

    background-color: #eee;
}

gll-locations
{
    display: block;
    margin-top: 20px;
    max-height: 260px;
    overflow: auto;
}

.gll-locations__location
{
    position: relative;

    margin: 20px 0 10px;
    padding-left: 40px;
}

.gll-locations__index
{
    position: absolute;
    top: 0;
    left: 0;

    padding-left: 10px;

    color: #2196f3;
}

.gll-locations__field
{
    clear: both;

    margin-bottom: 10px;
}

.gll-locations__field--col
{
    float: left;
    clear: none;

    width: 50%;
}

.gll-search__input
{
    font-size: 16px;

    width: 100%;
}
