<!-- ko foreach: locations -->
<div class="gll-locations__location">
  <label class="gll-locations__index"><img data-bind="attr: { src: 'http://www.googlemapsmarkers.com/v1/' + ($index() + 1) + '/2196f3/FFFFFF/2196f3/' }" alt=""></label>
  <div class="gll-locations__field">
    <label>Lat, Long: </label>
    <input type="text" readonly data-bind="value: latLong, selectOnFocus: true">
  </div>
  <!--div class="gll-locations__field gll-locations__field--col">
    <label>Lat:</label>
    <input type="text" readonly data-bind="value: latitude, selectOnFocus: true">
  </div>
  <div class="gll-locations__field gll-locations__field--col">
    <label>Long:</label>
    <input type="text" readonly data-bind="value: longitude, selectOnFocus: true">
  </div-->
</div>
<!-- /ko -->